/* You can add global styles to this file, and also import other style files */
/* this is CSS eveything that has h1 is applied the below customizations */
label{  
    color: blue;
  }

  #login {
    background-color:blue ;
  }

  #logout {
    background-color:rgb(255, 0, 0) ;
  }
  
  body{ background-color: darkslategray;
    font-family: 'Lexend Deca', sans-serif;
    width: 800px; 
    height: 100%;
    margin: auto;
    color: #2E475D;
  }
  h1 {color: white;}
  h4 {color: #a5e2e6;}
  
