<!-- DOCTYPE html -->

<!-- error: to add comments depending on any langugaue ctrl + / -->

<h1> Hello World!</h1>
<h4> Log in Page</h4>


<style>

/* this is CSS eveything that has h1 is applied the below customizations */
 label{  
    color: blue;
  }

  #login {
    background-color:blue ;
  }

  #logout {
    background-color:rgb(255, 0, 0) ;
  }

</style>

<!-- this is the FORM element: Container for different types of input -->
<form action="/action_page.php">
<label for="fname">First Name:</label><br><br>
<input type = "text" id = "fname" name = "fname"><br><br>
</form>

<br>
<br>
<label>Password: </label>
<input/>
<br>
<button id = "login">Log in</button>
<button id = "logout">Log out</button>
<!-- we can give each button different "ID" to differentiate them -->


<!-- you can put JS in script -->
<script> 

</script>
