<!-- DOCTYPE html -->

<!-- to add comments depending on any langugaue ctrl + / -->



    <h1> Hello: Welcome to my First Webpage!</h1>
    <h4> Log in Page</h4>


<!-- this is the FORM element: Container for different types of input -->
<form action="/action_page.php">
<label for="fname">First Name:</label><br><br>
<input type = "text" id = "fname" name = "fname"><br><br>
</form>
<label>Password: </label> <br>
<input/>
<br>
<button id = "login">Log in</button>
<button id = "logout">Log out</button>
<!-- we can give each button different "ID" to differentiate them -->


<!-- you can put JS in script -->
